<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="yellow">
    <h1>Home Page</h1>
    <a href="/college/home">Home </a>
    <a href="/college/about">About us</a>
    <a href="/college/course">course</a>
    <a href="/college/contact">contact us</a>
    <a href="/college/faculty">Facutly</a>
    <hr size="5"    color="red">
    <h1> this is Contact page</h1>


    <br>
    <br>
    <form action="/college/save" method="post">
    <h1>Enter your name: <input type="text"></h1>
    <br>
    <h1>Enter your Email-id: <input type="email"></h1>
    <br>
    <h1>Enter your number: <input type="tel"></h1>
    <br>
    <h1>Enter your address : <input type="text"></h1>
    <br>
    <button>submit</button>
</form>

    
</body>
</html>