<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="yellow">
    <h1>Home Page</h1>
    <a href="/college/home">Home </a>
    <a href="/college/about">About us</a>
    <a href="/college/course">course</a>
    <a href="/college/contact">contact us</a>
    <a href="/college/faculty">Facutly</a>
    <hr size="5"    color="red">
    <h1> this is course page</h1>
    <ul>
        <li>BCA</li>
        <li>MCA</li>
        <li>DCA</li>
        <li>BTECH</li>
    </ul>

    
</body>
</html>